.footer {
  background-color: #303030;
  color: #fff;
  padding: 15px 10px;
  text-align: center;
  width: 100%;
  margin-top: auto; /* esto empuja el footer hacia abajo si hay poco contenido */
}

/* Contenedor de secciones */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 250px;
  margin: 10px;
  text-align: center;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
}

.footer-copy {
  font-size: 0.8em;
  border-top: 1px solid #444;
  padding-top: 5px;
  margin-top: 10px;
}
.h4-footer {
  color: rgb(192, 175, 153);
}

/* Responsive para móviles */
@media (max-width: 768px) {
.footer {
    padding: 12px 10px;
    position: static; 
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    flex: 1 1 100%;
    margin: 5px 0;
  }

  .footer-copy {
    font-size: 0.75em;
  }
  .h4-footer{
    font-size: 1.3rem;
    color: rgb(192, 175, 153);
  }
  p {
    font-size: 0.8rem;
  }
}
